
.card{
    padding: 5px;
}

.card-text{
    padding: 5px;
}

.card-text, .card-header, .card-title{
    padding: 5px;
}

.selected {
    background-color: red !important;
    color: white;
}

.sub-child-menu {
    background-color: red !important;
    color: white;
}